@import 'reset.pcss';
@import 'fonts.pcss';
@import 'variables.pcss';
@import 'config.pcss';
@import 'global.pcss';

@import './components/header.pcss';
@import './components/hero-section.pcss';
@import './components/top-product-section.pcss';
@import './components/gift-list-section.pcss';
@import './components/gift-box-section.pcss';
@import './components/free-delivery-section.pcss';
@import './components/footer.pcss';
